<div>
  <div >
    <div>
      <form  action="/" method="post">
        <input
          type="email"
          name="user"
          placeholder="User email"
          id="user"
        />
        <input
          type="text"
          name="message"
          placeholder="Message"
          id="message"
        />
        <input
          type="submit"
          value="Send"
          id="send-button"
        />
      </form>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</div>